.baba{
text-align:center;
background-color:blue;
color:yellow;
}

.shapka{
color:yellow;
font-size:20px;
}
main{
background-color:blue;
color:yellow;
font-size:25px
}
img{
widtch: 200px;
height:200px;
board:50px 
}
.lays{
text-align:center;
font-size:40px
}
.lampochka{
text-align:center;
font-size:40px
}
footer{
background-color: yellow;
color:blue;

}
.bobr{
text-align:center;
background-color: yellow;
font-size: 25px;
color: blue;
}
.chipsiki{
widtch:400;
height:200px;
}
.smak{
    background-color:white;
}




























